# macOS
.DS_Store

# Xcode build artifacts
DerivedData/
build/

# Xcode user-specific files 
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# Xcode workspace user settings
*.xcsettings

# Logs
*.log
